<% content_for :title do %>
  <title>Profile</title>
<% end %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag "dashboard" %>
  <% end %>

    <section class="hbox stretch">
      <aside class="bg-dark aside-sm" id="nav">
        <section class="vbox">
          <header class="dker nav-bar nav-bar-fixed-top">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
              <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="dker nav-brand" data-toggle="fullscreen">trolleyapp</a>
          </header>
          <section class="w-f">
            <div class="bg-success nav-user hidden-xs pos-rlt">
              <div class="nav-avatar pos-rlt"> 
                <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown"> 
                  <%= image_tag("avatar.png", :class => "") %> <span class="caret caret-white"></span> 
                </a> 
                <ul class="dropdown-menu m-t-sm animated fadeInLeft"> 
                  <span class="arrow top"></span> 
                  <li> <a href="#">Settings</a> </li> 
                  <li> <a href="profile.html">Profile</a> </li> 
                  <li> <a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a> </li> 
                  <li class="divider"></li> 
                  <li> <a href="docs.html">Help</a> </li> 
                  <li> <a href="signin.html">Logout</a> </li> 
                </ul> 
                <div class="visible-xs m-t m-b"> 
                  <a href="#" class="h3">John.Smith</a> <p><i class="fa fa-map-marker"></i> London, UK</p> 
                </div> 
              </div> 
              <div class="nav-msg"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="badge badge-white count-n">2</b> </a> 
                <section class="dropdown-menu m-l-sm pull-left animated fadeInRight"> 
                  <div class="arrow left"></div> 
                  <section class="panel bg-white"> 
                    <header class="panel-heading"> 
                      <strong>You have <span class="count-n">2</span> notifications</strong> 
                    </header> 
                    <div class="list-group"> 
                      <a href="#" class="media list-group-item"> 
                        <span class="pull-left thumb-sm"> 
                          <%= image_tag("avatar.png", :class => "img-circle") %>
                        </span> 
                        <span class="media-body block m-b-none"> Use awesome animate.css<br> 
                          <small class="text-muted">28 Aug 13</small> 
                        </span> 
                      </a> 
                      <a href="#" class="media list-group-item"> 
                        <span class="media-body block m-b-none"> 1.0 initial released<br> 
                          <small class="text-muted">27 Aug 13</small> 
                        </span> 
                      </a> 
                    </div> 
                    <footer class="panel-footer text-sm"> <a href="#" class="pull-right"><i class="fa fa-cog"></i></a> <a href="#">See all the notifications</a> </footer> 
                  </section> 
                </section> 
              </div> 
             </div>
            <% if current_user.role_id==1 %>
            <nav class="nav-primary hidden-xs">
              <ul class="nav">
                <li>
                  <%= link_to new_loading_path do%>  
                    <i class="fa fa-plus"></i>
                    <span>New Loading</span>
                  <% end %>
                </li> 
                <li>
                  <%= link_to loadings_path do%>  
                    <i class="fa fa-eye"></i>
                    <span>All Loading</span>
                  <% end %>
                </li>
                <li class="active">
                  <%= link_to edit_user_registration_path do%>  
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method=> :delete do%>  
                    <i class="fa fa-sign-out"></i>
                    <span>Log Out</span>
                  <% end %>
                </li>         
              </ul>
            </nav>
            <% end %>
            <% if current_user.role_id==2 %>
            <nav class="nav-primary hidden-xs">
              <ul class="nav">
                <li>
                  <%= link_to trucks_path do%>  
                    <i class="fa fa-plus"></i>
                    <span>All Trucks</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_truck_path do%>  
                    <i class="fa fa-plus"></i>
                    <span>Add New Truck</span>
                  <% end %>
                </li> 
                <li>
                  <%= link_to loadings_path do%>  
                    <i class="fa fa-eye"></i>
                    <span>All Loading</span>
                  <% end %>
                </li>
                <li class="active">
                  <%= link_to edit_user_registration_path do%>  
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method=> :delete do%>  
                    <i class="fa fa-sign-out"></i>
                    <span>Log Out</span>
                  <% end %>
                </li>         
              </ul>
            </nav>
            <% end %>
          </section>
        </section>
      </aside>
    <section id="content">
      <section class="vbox">
        <header class="header bg-white b-b">
          <p>Edit your profile</p>
        </header>
        <section class="scrollable wrapper">
          <div class="container">
            <div class="row">
            <div class="col-lg-12">
              <div class="row">

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :email, required: true, autofocus: true %>
                      <%= f.input :company_name, required: true %>
                      <%= f.association :role, :checked => (@user.role_id), as: :radio_buttons %>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                      <% end %>

                      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                      <%= f.input :password_confirmation, required: false %>
                      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                    </div>

                    <div class="form-actions">
                      <%= f.button :submit, "Update" %>
                    </div>
                  <% end %>

                  <h3>Cancel my account</h3>

                  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
              </div>    
            </div>
          </div>
          </div>
        </section>
      </section>

    </section>
    </section>








