<% content_for :title do %>
  <title>Sign Up</title>
<% end %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "welcome" %>
  <% end %>
<body>

  <div class="screen-bg full-page">
    <div class="center-section">
      <div class="content full-width">
        <a href="/"><p class="logo">trolleyapp</p></a>
        <div class="page">
          <div class="row">
              <div class="col-md-12 text-center">
                <h1>Sign Up</h1>
                <h4>Create your account below to get started.</h4>
              </div>
            </div>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
          <div class="col-md-12">
              <form role="form">
                <fieldset>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <%= f.input :company_name, required: true, class: "form-control" %>
                    </div>
                 
                    <div class="col-md-6 form-group">
                      <%= f.input :email, required: true, autofocus: true, class: "form-control" %>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <%= f.input :password, class: "form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                    </div>
                    <div class="col-sm-6 form-group">
                      <%= f.input :password_confirmation, class: "form-control", required: true %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 form-group">
                      <%= f.association :role, as: :radio_buttons %>
                      <div class="check"></div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-actions text-right">
                        <%= f.button :submit, "Submit", class: "btn btn-success btn-lg btn-block"%>
                        <p class="terms">
                          By clicking continue you agree our <a>Terms of Service &amp; Privacy Policy</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                  <p>Already have an account? <a href="sign_in">Sign In</a></p>
                </div>
                  </div>
                </fieldset>
              </form>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
