<% @title="trolleyapp" %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "welcome" %>
  <% end %>
<body>
	<!-- Home Start -->
	<div id="home">

		<!-- Main Start -->
		<div class="main">

			<!-- Navigation Start -->
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="container-fluid">

					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
			                    <i class="fa fa-2x fa-bars"></i>
			                </button>
							<a href="#" class="navbar-brand">trolleyapp</a>
						</div>
						<div class="collapse navbar-collapse navbar-main-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="users/sign_in">Login</a></li>
								<li><a href="users/sign_up" class="btn btn-success">Sign Up</a></li>
							</ul>
							<ul class="nav navbar-nav">
								<li><a href="#intro">Home</a></li>
								<li><a href="#features">Features</a></li>
								<li><a href="#pricing">Pricing</a></li>
								<li><a href="#">Support</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
			<!-- Navigation End -->

		</div>
		<!-- Main End -->

		<!-- Intro Start -->
		<div id="intro">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Connecting mine owner and truck owner.</h1>
						<p>We handle the mess in your business and provide you with a simple solution</p>
						<p class="pricing-btn">
							Need help? 
					      <a href="mailto:help@trolleyapp.co" class="btn btn-pricing btn-wide">Contact Us</a>
					    </p>
					</div>
				</div>
			</div>
		</div>
		<!-- Intro End -->

		<!-- Collabs Start -->
		<div id="collabs">
			<div class="container">
				<div class="row">		
					<div class="customer-logos col-md-12 clearfix">
						<div class="col-xs-6">
							<%= image_tag("ad.png", :class => "img-responsive", :style => "max-width:450px;") %>
						</div>
						<div class="col-xs-6">
							<%= image_tag("ms.png", :class => "img-responsive", :style => "max-width:250px;") %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Collabs End -->

		<!-- Features Start -->
		<div id="features">
			<div class="features-slide">
				<div class="content-wrapper">
					<div class="center-align">
						<div class="image-block left table">
							<div class="image-inner-block">
								<%= image_tag("book-online.png", :class => "img-responsive" ) %>
							</div>
						</div>
						<div class="description-block right table">
							<div class="description-inner-block">
								<h3 class="description-heading booking features-margin-left features-margin-right">
								Hassle free booking system
 								</h3>
								<p class="description-details features-margin-left features-margin-right">Whenever you book a truck, it’s important to know if it’s the right choice or not. Apart from giving you simplified booking system, we have also integrated an instant price comparison. </p>
								<p class="description-details features-margin-left features-margin-right">Simplicity comes baked in with Trolleyapp, with all the prices compared without you having to do anything. You can also choose to get notified as soon as your truck has departed. The best part - you can know the exact location of your truck too.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="features-slide">
				<div class="content-wrapper">
					<div class="center-align">
						<div class="image-block right table">
							<div class="image-inner-block">
								<%= image_tag("breakdown-assistance.png", :class => "img-responsive" ) %>
							</div>
						</div>
						<div class="description-block left table">
							<div class="description-inner-block">
								<h3 class="description-heading breakdown features-margin-left features-margin-right">
								We've got your back
								</h3>
								<p class="description-details features-margin-left features-margin-right">Your trucks are meant to be running. But sometimes, that doesn’t happen as they get buried deep inside some remote areas.</p>
								<p class="description-details features-margin-left features-margin-right">Not anymore. With our Breakdown Assistance feature, you can look for a mechanic around that area. Whether your truck was in your state or some other, someone will always be there for you.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="features-slide">
				<div class="content-wrapper">
					<div class="center-align">
						<div class="image-block left table">
							<div class="image-inner-block">
								<%= image_tag("bar-charts.png", :class => "img-responsive" ) %>
							</div>
						</div>
						<div class="description-block right table">
							<div class="description-inner-block">
								<h3 class="description-heading charts features-margin-left features-margin-right">
								Easily manage your chaos
								</h3>
								<p class="description-details features-margin-left features-margin-right">Many of us treat our desk as a record storage, with scattered records as chaos to be cleaned up. We like to keep our desk clean, in the quest for Zero Chaos. </p>
								<p class="description-details features-margin-left features-margin-right">Our inbuilt statistics lets you do just that, allowing you to clean up chaos from your desk, and manage it at a more convenient time.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features End -->

		<!-- Pricing Start -->
		<div id="pricing">
			<figure class="inr-sign">
				<div class="inr-sign-outline">
					<i class="fa fa-rupee"></i>
				</div>
			</figure>
			<h1>We are sailing on all free plans!</h1>
			<p class="pricing-text">Create your free account today.</p>
			<p class="pricing-btn">
		      <a href="users/sign_up" class="btn btn-pricing btn-wide">Sign Up</a>
		    </p>
		</div>
		<!-- Pricing End -->

		<!-- Footer Start -->
		<footer id="footer">
			<div class="footer-inner">
				<a href="#" class="footer-logo">trolleyapp</a>
				<nav class="footer-nav">
			        <div class="nav-group">
			          <h2>Product</h2>
			          <ul>
			           	<li><a href="#">What's new</a></li>
			            <li><a href="#">Pricing</a></li>			            
			            <li><a href="#">Download</a></li>
			          </ul>
			        </div>

			        <div class="nav-group">
			          <h2>All about us</h2>
			          <ul>
			            <li><a href="#">About &amp; contact</a></li>
			            <li><a href="#">Customers</a></li>
			            <li><a href="#">Press</a></li>
			            <li><a href="#">Terms of use</a></li>
			            <li><a href="#">Privacy policy</a></li>
			          </ul>
			        </div>

			        <div class="nav-group">
			          <h2>Help</h2>
			          <ul>
			            <li><a href="#">Support &amp; FAQ</a></li>
			            <li><a href="#">Status</a></li>
			          </ul>
			        </div>

			        <div class="nav-group">
			          <h2>Social</h2>
			          <ul>
			            <li><a href="#">Blog</a></li>
			            <li><a href="#">Twitter</a></li>
			            <li><a href="#">Instagram</a></li>
			            <li><a href="#">Facebook</a></li>
			          </ul>
			        </div>
			    </nav>
			</div>
			<div class="footer-bottom">
		      <p>&copy; <a href="#" target="_blank">trolleyapp</a> 2017</p>
		    </div>
		</footer>
		<!-- Footer End -->


	</div>
	<!-- Home End -->
</body>
</html>