<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <%= content_for(:title) %>
    <% else %>
      <title>Trolleyapp</title>
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsrFcEm7xpzgMcut0wj-m3FVD--n9NAag&libraries=places" async defer
        ></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>

    <div id="map"></div>
      <%= yield %> 
  </body>
</html>
